@media (min-width: 37.5em) {
    .homeTagline {
        font-size: 115%;
    }
}

@media (min-width: 62.5em) and (max-height: 75em), (min-width: 34em) and (max-height: 28em) {
    #homepage {
        flex-flow: row;
    }
    
    .homeHalf {
        height: 100%;
        width: 0;
    }
    
    #homeLogoIcon {
        width: 15em;
    }

    #homeSlant {
        height: 100%;
        width: 50%;
        animation: homeSlantWide 4s ease-out .5s forwards;
    }

    @keyframes homeSlantWide {
        to {
            transform: skewX(-13deg);
        }
    }
    
    #homeLogo {
        height: 100%;
        width: 32%;
        justify-content: center;
        align-items: flex-end;
        /* clip-path: polygon(0 0, calc(100% - 5vw) 0, calc(100% - 5vw) 100%, 0 100%); */
        /* animation: homeClipPathWide 4s ease-out .5s forwards; */
    }
    
    @keyframes homeClipPathWide {
        from {
            clip-path: polygon(0 0, calc(100% - 5vw) 0, calc(100% - 5vw) 100%, 0 100%);
        }
        to {
            clip-path: polygon(0 0, 100% 0, calc(100% - 10vw) 100%, 0 100%);
        }
    }
    
    #homeWords {
        width: 40%;
        padding: 0;
        align-items: flex-start;
        justify-content: center;
        animation: wordAppear 4s .5s forwards;
    }
    
    @keyframes wordAppear {
        from {
            opacity: 0;
            transform: translateX(-20vw);
        }
        to {
            opacity: 1;
            transform: translateX(0vw);
        }
    }
}

@media (min-width: 62.5em) and (min-height: 75em) {
    #homeLogoIcon {
        width: 20em;
    }
    
    .homeTagline {
        font-size: 170%;
    }
}

@media (min-width: 34em) and (max-height: 28em) {
    #homeLogoIcon {
        width: 8em;
    }
    
    .homeTagline {
        margin-left: -5vw;
        font-size: 75%;
    }
}