.wrapper {
    padding: 5% 0 4%;
    margin-bottom: 10vh;
}

.wrapper::after {
    content: "";
    display: block;
    clear: both;
}

#whatPic {
    background-image: url(./what.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topIdeaQ {
    font-size: 200%;
    color: #333132;
    text-align: right;
    width: 37%;
    float: left;
    padding-right: 40px;
    font-weight: bold;
}

.rightWe {
    width: 60%;
    float: left;
    font-size: 120%;
    color: #404051;
    text-align: left;
    line-height: 1.5;
    padding-left: 35px;
    border-left: 1px solid #92d3c7;
}

.bold {
    font-weight: bold;
    font-size: 115%;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) { 
    .topIdeaQ, .rightWe {
        width: 80%;
        text-align: left;
        margin: 2% 0;
    }

    .topIdeaQ {
        font-size: 170%;
    }

    .rightWe {
        padding-left: 4%;
        font-size: 110%;
    }

    .oneRightWe {
        margin-bottom: 30px;
    }

    .wrapper {
        padding: 4% 0 7% 7%;
    }
      
}

@media (max-width: 576px) { 

}