.wrapper {
    padding: 1% 0 4%;
    margin-bottom: 10vh;
}

.wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.leftIdea {
    font-size: 150%;
    padding: 0% .3%;
    color: #404051;
    text-align: right;
    width: 30%;
    margin-left: 7%;
    float: left;
}

.ideaBackground {
    padding: 0 0 5% 1%;
    float: left;
    width: 100%;
}

.rightVerbiage {
    font-size: 120%;
    color: #757579;
    width: 40%;
    margin-left: 3%;
    float: left;
    padding: 0% 3.5%;
    border-left: 1px solid #92d3c7;
}

#jobListThesis {
    background-color: #757579;
}

.designThesis {
    font-size: 125%;
    color: #f4f7fc;
    font-weight: bold;
    padding: 4px 10px 5px;
}

.jobWrapper {
    margin-bottom: 50px;
}

.panel, 
.panel-body, 
.panel-heading,
.panel-title, 
.panel-default>.panel-heading {
    border: none;
    background: none;
    box-shadow: none;
    color: #757579;
    text-decoration: none;
}

a,
a:active,
a:visited,
a:focus,
a:hover {
    text-decoration: none;
    background-color: transparent;
}

#listTitle {
    color: #333132
}

#listTitle:hover {
    color: #757579;
}

#listTitleWhite {
    color: #f4f7fc;
}

#listTitleWhite:hover {
    color: #f9f1ee;
}

#oneLineTitle:hover {
    color: #333132;
}

#oneLineTitleWhite {
    color: #f4f7fc;
}

#oneLineTitleWhite:hover {
    color: #f9f1ee;
}

.jobButton {
    color: #f4f7fc;
    text-decoration: none;
    background-color: #404051;
    padding: 10px;
    border-radius: 5px;
    font-size: 70%;
    margin: 25px 15px 0 0;
    border: 1px solid #404051;
}

.jobButton:hover {
    text-decoration: none;
    background-color: #f4f7fc;
    color: #404051;
}

.listDescription:hover {
    color: #333132;
}

.descriptionText {
    float: left;
}

.applyButton {
    float: left;
}

.remindButton {
    float: left;
}

@media (max-width: 815px) and (max-height: 400px) {
    
}

@media (max-width: 768px) { 
    .leftIdea, .rightVerbiage {
        width: 80%;
        text-align: left;
        margin: 2% 0;
    }

    .leftIdea {
        font-size: 140%;
    }

    .ideaBackground {
        padding: 0 0 7% 7%;
    }

    .wrapper {
        padding: 0 0 7% 7%;
    }      
}