#joblistPic {
    background-image: url(./mountain-scape.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listTitle:hover {
    color: #757579;
}

.listDescription:hover {
    color: #333132;
}