#jobListThesis {
    background-color: #757579;
}

.panel, 
.panel-body, 
.panel-heading,
.panel-title, 
.panel-default>.panel-heading {
    border: none;
    background: none;
    box-shadow: none;
    color: #757579;
    text-decoration: none;
}

a,
a:active,
a:visited,
a:focus,
a:hover {
    text-decoration: none;
    background-color: transparent;
}

#listTitle {
    color: #333132
}

#listTitle:hover {
    color: #757579;
}

#oneLineTitle {
    font-size: 100%;
}

#oneLineTitle:hover {
    color: #333132;
}

.jobButton {
    color: #f4f7fc;
    text-decoration: none;
    background-color: #404051;
    padding: 10px;
    border-radius: 5px;
    font-size: 70%;
    margin: 25px 15px 0 0;
    border: 1px solid #404051;
}

.jobButton:hover {
    text-decoration: none;
    background-color: #f4f7fc;
    color: #404051;
}

.listDescription:hover {
    color: #333132;
}

.descriptionText {
    float: left;
}

.applyButton {
    float: left;
}

.remindButton {
    float: left;
}