.wrapper {
    padding-top: 7%;
}

.wrapper::after {
    content: "";
    display: block;
    clear: both;
}

#whatPic {
    background-image: url(./pacific-nor-cal.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}