#navbar {
    background-color: #faf7ee;
    width: 100%;
    border: none;
    min-height: 16vh;
    box-shadow: -2px -3px 5px #757579;
    padding-bottom: .5vh;
}

#logo {
    width: 80px;
    position: relative;
    bottom: 2.75vh;
    left: 15vw;
}

.link,
.link:active,
.link:visited,
.link:focus,
.link:hover {
    text-decoration: none;
}

#white,
#white.active,
#white:visited,
#white:focus {
    background-color: transparent;
    color: #757579;
}

#white:hover {
    color: #333132;
}

#questions {
    padding: 5.4vh 0 0 15vw;
}

.question,
.question:active,
.question:visited,
.question:focus {
    color: #757579;
    margin: 0 10px -4px;
    text-decoration: none;
}

.question:hover {
    color: #333132;
    text-decoration: none;
}

#navFooter {
    padding: 0 0 5vh 22vw;
    font-size: 90%;
}

.halfNavFooter {
    width: 50%;
    float: left;
    color: #a9a9af;
}

#emailAddress,
#footerJoin {
    color: #a9a9af;
}

#emailAddress:hover,
#emailIcon:hover,
#footerJoin:hover {
    color: #757579;
}

#emailIcon {
    margin-right: 20px;
}

#navCopyright {
    margin-left: -11vw;
}

#hamburger {
    background-color: #f4f7fc;
}

#constStamp {
    width: 160px;
    float: left;
    position: fixed;
    top: 0;
    right: 30px;
    transform: rotate(25deg);
    z-index: 2000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 1px solid transparent;
}

@media (max-width: 1200px) { 
    #constStamp {
        width: 140px;
        right: 0;
    }

    #logo {
        width: 70px;
        left: 13vw;
    }

    #questions {
        padding-left: 13vw;
    }
    
    #navFooter {
        padding-left: 21.5vw;
    }
    
    #navCopyright {
        margin-left: -10vw;
    }
    
}


@media (max-width: 992px) { 
    #questions {
        padding-left: 13vw;
        margin-bottom: -1.5vh;
    }

    .question, #dropdownLink {
        margin: 0;
    }
    
    #logo {
        left: 14vw;
        width: 60px;
    }
    
    #navFooter {
        padding-left: 24vw;
    }
    
    #navCopyright {
        margin-left: -3vw;
    }
    
    #constStamp {
        width: 130px;
        right: 10px;
    }

    #rights {
        display: block;
    }
    
}

/* @media (max-width: 815px) and (max-height: 400px) {
    #navbar {
        height: 7vh;
        padding-bottom: 20vh;
    }

    #logo {
        width: 50px;
        bottom: 4.5vh;
        left: 17vw;
    }

    #questions {
        padding-top: 2vh;
        padding-left: 17vw;
        margin-bottom: -10vh;
    }

    .question {
        font-size: 70%;
    }

    #navFooter {
        font-size: 50%;
        padding-left: 28vw;
        margin-top: -1.5vh;
    }

    #navCopyright {
        margin-left: -13vw;
    }

    #rights {
        display: inline
    }

} */

@media (max-width: 768px) { 
    #navbar {
        padding: 0;
        min-height: 0;
    }

    #questions {
        padding: 0;
        float: right;
    }

    #white, #dropdown-no-caret {
        color: #757579;
        background-color: transparent;
    }
 
    #logo {
        float: none;
        position: fixed;
        bottom: 1vh;
    }

    #navbarQs {
        margin-top: 3%;
        margin-left: 75%;
    }

    #hamburger {
        margin-top: 4vh;
        margin-bottom: 0vh;
    }

    #navFooter {
        margin-left: 10vw;
        font-size: 60%;
    }

    #needContact {
        margin-top: -6vh;
    }

    #navCopyright {
        margin-top: -4vh;
        margin-left: 0;
    }

    .halfNavFooter {
        width: 100%;
        margin-top: 15px;
    }

    #footerHands, #rights, #pllc {
        display: block;
    }

    #footerHands {
        margin-top: .5vh;
    }

    #constStamp {
        width: 70px;
        top: 1%;
        right: 0px;
    }   
      
 }

 @media (max-width: 576px) { 
 
 }