.yourThingBackground {
    padding: 100px 15% 0;
    height: 90vh;
}

.yourTitleWrapper {
    margin-bottom: 50px;
}

.yourThingWords {
    color: #f4f7fc;
    font-size: 250%;
    font-weight: bold;
    font-family: 'Codystar', cursive;
}

.yourButton {
    color: #404051;
    text-decoration: none;
    background-color: #f4f7fc;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f4f7fc;
}

.yourButton:hover {
    text-decoration: none;
    background-color: #182939;
    color: #f4f7fc;
}

.button {
    margin-bottom: 50px;
}

.yourDescription {
    color: #f4f7fc;
    font-size: 125%;
}