#lcWrapper {
    padding-bottom: 20vh;
}

.lcContentWrapper {
    padding: 0 5vw;
}

.lcSteptitle {
    padding: 5px 10px;
    border-radius: 5px;
}

.step {
    font-size: 120%;
    font-weight: bold;
}

#lcStep0 {
    margin-top: 5vh;
    background-color: #33313277;
    color: #f4f7fc;
}

#lcStep1 {
    background-color: #3331329a;
    color: #f4f7fc;
}

#lcStep2 {
    background-color: #333132b6;
    color: #f4f7fc;
}

#lcStep3 {
    background-color: #333132d5;
    color: #f4f7fc;
}

#lcStep4 {
    background-color: #333132;
    color: #f4f7fc;
}

.lcStepInfo {
    margin-bottom: 3vh;
}

.alignLCPic {
    text-align: center;
    margin: 10vh auto -5vh;
}

#lcProcessPic,
#lcFourCs {
    background-color: #f4f7fc;
    box-shadow: 0 0 10px #757579;
}

#lcProcessPic {
    width: 95vw;
    margin: auto;
    padding: 4px;    
}

#lcFourCs {
    width: 90vw;
}

.lcServiceWrapper {
    margin-bottom: 3vh;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 3px 5px black;
    padding: 1vh;
}

.lcService {
    flex: 1;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1vw;
    font-size: 120%;
    margin-bottom: 1vh;
}

.lcOfferedService {
    flex: 3;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.lcOfferedOne {
    padding: 3px 5px;
    margin: .5em 0;
}

.lcOfferedTrue {
    padding: 3px 5px;
    background-color: #757579;
}

.lcOfferedFalse {
    padding: 3px 5px;
    background-color: #d37c7c;
    box-shadow: inset 2px 3px 5px black;
}

#lcCurrent {
    display: flex;
    justify-content: flex-end;
}

#lcCurrentBox {
    height: 1em;
    width: 1em;
    margin-right: .5em;
    background-color: #757579;
}