@media (min-width: 36em) { 
    #peoplePicBox {
        padding: 25vh 7vw 8vh;
    }

    .peoplePic {
        width: 25vw;
        height: 25vw;
    }
}

@media (min-width: 48em) {
    .picContainer {
        width: 30%;
    }
    
    .peoplePic {
        width: 15vw;
        height: 15vw;
    }
}

@media (min-width: 62em) {
    #peoplePicBox {
        padding-top: 26vh;
    }
    
    .peoplePic {
        width: 12vw;
        height: 12vw;
    }
}

@media (min-width: 75em) {
    #peoplePicBox {
        padding: 23vh 15vw 8vh;
    }

    .picContainer {
        width: 20%;
    }
    
    .peoplePic {
        width: 10vw;
        height: 10vw;
    }
}