@media (min-width: 36em) { 
    #peoplePicBox {
        padding: 25vh 7vw 8vh;
    }

    .peoplePic {
        width: 25vw;
        height: 25vw;
    }

    #blogButtonWords {
        font-size: 110%;
    }
}

@media (min-width: 48em) {
    #aboutUs {
        font-size: 110%;
    }

    #aboutUsBreak {
        display: inline;
    }

    .picContainer {
        width: 30%;
    }
    
    .peoplePic {
        width: 15vw;
        height: 15vw;
    }

    #blogButtonWords {
        font-size: 120%;
        margin: 7vh 0;
    }
}

@media (min-width: 62em) {
    #aboutUs {
        font-size: 120%;
    }

    #peoplePicBox {
        padding-top: 26vh;
    }
    
    .peoplePic {
        width: 12vw;
        height: 12vw;
    }

    #blogButtonWords {
        font-size: 140%;
        margin: 10vh 0;
    }
}

@media (min-width: 75em) {
    #aboutUs {
        font-size: 140%;
    }

    #peoplePicBox {
        padding: 23vh 15vw 8vh;
    }

    .picContainer {
        width: 20%;
    }
    
    .peoplePic {
        width: 10vw;
        height: 10vw;
    }

    #blogButtonWords {
        font-size: 160%;
        margin: 15vh 0;
    }
}