#peopleBackground {
    margin-bottom: 20vh;
}

#peopleTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5vh 4vh 3vh;
    text-align: center;
    box-shadow: 1px 2px 5px #757579;
}

#aboutUs {
    font-size: 100%;
    margin-bottom: 3vh;
    text-align: left;
    font-family: 'Codystar', cursive;
    font-weight: 900;
    display: inline-block;
    padding: 5px 10px;
}

#aboutUsBreak {
    display: block;
}

#peoplePicBox {
    padding: 25vh 5vw 8vh;
    text-align: center;
}

#peoplePicBox::after {
    content: "";
    display: block;
    clear: both;
}

.picContainer {
    width: 45%;
    display: inline-block;
    margin-right: 1.6vw;
    margin-bottom: 5vh;
    text-align: center;    
}

.peoplePic {
    width: 27vw;
    height: 27vw;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid white;
    box-shadow: 2px 3px 4px grey;
}

.peopleName {
    font-size: 110%;
    padding: 1.5vh 0;
}

.person {
    background-color: #e2e1e3;
}

.person:hover {
    background-color: #b2d08b;
}

#loginBackground {
    height: 200vh;
}

#locations {
    width: 100vw;
    display: none;
}

#blogButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blogButtonWords {
    padding: .5em;
    background-color: #b2d08d;
    border: 2px solid #b2d08d;
    color: #f4f7fc;
    border-radius: 5px;
}

#blogButtonWords:hover {
    background-color: #f4f7fc;
    color: #b2d08d;
}