#footer {
    width: 100%;
    background-color: #757579;
    text-align: left;
    padding: 1.75% 20% 3%;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 90%;
}

#footer::after {
    content: "";
    display: block;
    clear: both;
}

.halfFooter {
    width: 50%;
    float: left;
    color: #f4f7fc;
}

.footerLink {
    color: #f4f7fc;
    margin-right: 15px;
}

.footerLink:hover {
    text-decoration: none;
    color: #92d3c7;
}

#copyright {
    margin-top: 11px;
    color: #f4f7fc8e;
}

#email {
    margin-top: 11px;
}

#constStamp {
    width: 200px;
    float: left;
    position: fixed;
    top: 0;
    right: 30px;
    transform: rotate(25deg);
    z-index: 2000;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 

    #constStamp {
        width: 150px;
        right: 10px;
    }
       
}

@media (max-width: 768px) {  
    #footer {
        padding: 5%;
        font-size: 70%;
    }

    #copyright #email {
        margin-top: 2px;
    }

    #constStamp {
        width: 70px;
        top: 89%;
        right: 1px;
    }    
}


@media (max-width: 576px) {
}