#footer {
    width: 100%;
    background-color: #757579;
    text-align: left;
    padding: 1.75% 20% 5%;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 90%;
}

.halfFooter {
    width: 50%;
    float: left;
    color: #f4f7fc;
}

.footerLink {
    color: #f4f7fc;
    margin-right: 15px;
}

.footerLink:hover {
    text-decoration: none;
    color: #92d3c7;
}

#copyright {
    margin-top: 11px;
    color: #f4f7fc8e;
}

#email {
    margin-top: 11px;
}