#dbProcess {
    display: grid;
    grid-template: 1fr 2fr 2fr / repeat(9, 1fr);
    grid-gap: .5em
}

.dbLabel {
    padding: .5em 1.5em;
    border-radius: 5px;
}

#dbProcessPre {
    grid-area: 1 / 1 / 2 / 4;
}

#dbProcessDes {
    grid-area: 1 / 4 / 2 / 6;
}

#dbProcessConst {
    grid-area: 1 / 6 / 2 / 9;
}

#dbProcessMove {
    grid-area: 1 / 9 / 2 / 10;
}

.dbProcessTopSlant {
    transform: skewX(40deg);
    border-radius: 5px;
}

.dbProcessTopSlant span {
    display: inline-block;
    transform: skewX(-40deg);
}

#dbProcessSelection {
    grid-area: 2 / 1 / 3 / 3;
}

#dbProcessPrelim {
    grid-area: 2 / 3 / 3 / 5;
}

#dbProcessDraw {
    grid-area: 2 / 5 / 3 / 7;
}

#dbProcessConstruction {
    grid-area: 2 / 6 / 3 / 9;
}

.dbSection {
    transform: skewX(-40deg);
    border-radius: 5px;
}

.dbProcessunSkew {
    transform: skewX(40deg);
}

.dbIcon {
    height: 5vh;
    grid-row: 3 / 4;
}