#peopleTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 9vh 0 5vh;
    text-align: center;
}

#aboutUs {
    font-size: 175%;
    font-family: 'Codystar', cursive;
    font-weight: 900;
    color: #1b2c3a;
    margin-bottom: 4vh;
    background-color: #f4f7fc;
    display: inline-block;
    padding: 5px 10px;
}

.backToPeople {
    padding: 5px 10px;
    word-spacing: 7px;
    display: inline-block;
    color: #1b2c3a;
    background-color: #f4f7fc;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #1b2c3a;
    opacity: 0;
}

.backToPeople:hover {
    color: #f4f7fc;
    background-color: #1b2c3a;
}

#backNoDisplay {
    display: none;
}

#backDisplay {
    animation: backDisplay 4s forwards;
}

@keyframes backDisplay {
    to {
        display: initial;
        opacity: 1;
    }
}

.peopleThree {
    padding-top: 23vh;
    float: left;
    text-align: center;
    height: 95vh;
}

.peopleAsThree {
    width: 33.33%;
}

.peopleAsOne {
    animation: expand 3s forwards;
}

@keyframes expand {
    from {
        width: 33.33%
    }
    to {
        width: 100%;
        padding: 30vh 31% 0;
    }
}

.peopleAsNone {
    animation: shrink 3s forwards;
}

@keyframes shrink {
    from {
        width: 33.33%;
    }
    to {
        width: 0%;
        display: none;
    }
}

.peopleFadeIn {
    animation: peopleFadeIn 3s forwards;
}

@keyframes peopleFadeIn {
    from {
        opacity: 0;
        transform: scale(.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#peopleThree1 {
    background-color: #92d3c7;
}

#peopleThree2 {
    background-color: #d37c7c;
    padding-top: 44vh;
}

#peopleThree3 {
    background-color: #b2d08b;
}

.peoplePic {
    width: 9vw;
    margin: 5px;
}

/* .peopleTitle {
    font-weight: bold;
    margin-bottom: 3px;
}

.peopleCred {
    font-style: italic;
    margin-bottom: 10px;
} */

.depTitle {
    font-size: 150%;
    padding: 20px 0;
    font-family: 'Codystar', cursive;
    font-weight: bold;
}

/* .clusterOne {
    position: fixed;
    left: 10%;
    top: 20%;
    height: 20vh;
    text-align: center;
}


.clusterTwo {
    position: fixed;
    left: 63%;
    top: 20%;
    height: 20vh;
    text-align: center;
}

.clusterThree {
    position: fixed;
    left: 35%;
    top: 50%;
    height: 20vh;
    text-align: center;
} */

.invisible {
    display: none;
}

.clusterPic {
    width: 6vw;
    border: 4px solid white;
    box-shadow: 2px 3px 4px grey;
}

.cluster0 {
    position: relative;
    transform: translate(7.5vw, 20%) rotate(-20deg);
    z-index: 500;
}

.cluster1 {
    position: relative;
    transform: translate(5.5vw);
    z-index: 501;
}

.cluster2 {
    position: relative;
    transform: translate(4.25vw, 20%) rotate(20deg);
    z-index: 502;
}

.cluster3 {
    position: relative;
    transform: translate(-8.5vw, 80%) rotate(10deg);
    z-index: 503;
}

.cluster4 {
    position: relative;
    transform: translate(-9.75vw, 80%) rotate(-20deg);
    z-index: 504;
}

.open0 {
    animation: open0 3s forwards;
    /* display: initial; */
}

@keyframes open0 {
    from {
        position: relative;
        transform: translate(7.5vw, 20%) rotate(-20deg);
        z-index: 500;
    }
    to {
        /* position: absolute;
        transform: translate(-18vw, 5vh);
        z-index: 500; */
        margin: 0 8px 10px 0;
        display: initial;
    }
    /* 40% {
        position: absolute;
        transform: translate(7.5vw, 20%) rotate(-20deg);
        z-index: 500;
    }
    100% {
        z-index: 500;
        display: initial;
    } */
}

.open1 {
    animation: open1 3s forwards;
    /* display: initial; */
}

@keyframes open1 {
    from {
        position: relative;
        transform: translate(5.5vw);
        z-index: 501;
    }
    to {
        /* position: absolute;
        transform: translate(-18vw, 5vh);
        z-index: 501; */
        margin: 0 8px 10px 0;
        display: initial;
    }
    /* 40% {
        position: absolute;
        transform: translate(5.5vw);
        z-index: 501;
    }
    100% {
        z-index: 501;
        display: initial;
    } */
}

.open2 {
    animation: open2 3s forwards;
    /* display: initial; */
}

@keyframes open2 {
    from {
        position: relative;
        transform: translate(4.25vw, 20%) rotate(20deg);
        z-index: 502;
    }
    to {
        /* position: absolute;
        transform: translate(-18vw, 5vh);
        z-index: 502; */
        margin: 0 8px 10px 0;
        display: initial;
    }
    /* 40% {
        position: absolute;
        transform: translate(4.25vw, 20%) rotate(20deg);
        z-index: 502;
    }
    100% {
        z-index: 502;
        display: initial;
    } */
}

.open3 {
    animation: open3 3s forwards;
    /* display: initial; */
}

@keyframes open3 {
    from {
        position: relative;
        transform: translate(-8.5vw, 80%) rotate(10deg);
        z-index: 503;
    }
    to {
        /* position: absolute;
        transform: translate(-18vw, 5vh);
        z-index: 503; */
        margin: 0 8px 10px 0;
        display: initial;
    }
    /* 40% {
        position: absolute;
        transform: translate(-8.5vw, 80%) rotate(10deg);
        z-index: 503;
    }
    100% {
        z-index: 503;
        display: initial;
    } */
}

.open4 {
    animation: open4 3s forwards;
    /* display: initial; */
}

@keyframes open4 {
    from {
        position: relative;
        transform: translate(-9.75vw, 80%) rotate(-20deg);
        z-index: 504;
    }
    to {
        /* position: absolute;
        transform: translate(-18vw, 5vh);
        z-index: 504; */
        margin: 0 8px 10px 0;
        display: initial;
    }
    /* 40% {
        position: absolute;
        transform: translate(-9.75vw, 80%) rotate(-20deg);
        z-index: 504;
    }
    100% {
        z-index: 504;
        display: initial;
    } */
}

.hiddenPic {
    position: absolute;
    transform: translate(-18vw, 5vh);
    z-index: 100;
    visibility: hidden;
}

.openHiddenPic {
    margin: 0 8px 10px 0;
    display: initial;
    opacity: 0;
    animation: backDisplay 3s forwards;
}

/* @keyframes openHiddenPic {
    from {
        position: absolute;
        transform: translate(-18vw, 5vh);
        z-index: 100;
        visibility: hidden;
    }
    to {
        position: absolute;
        transform: translate(-18vw, 5vh);
        z-index: 100;
        visibility: hidden;
    }
    70% {
        z-index: 100;
        visibility: hidden;
    }
    100% {
        z-index: 100;
        display: initial;
    }
} */

/* #open {
    animation: clusterCenter 2s forwards;
}

@keyframes clusterCenter {
    to {
        left: 35%;
        top: 30%;
    }
} */
@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    #peopleTop {
        padding: 5vh 4vh 3vh;
        background-color: #f4f7fc;
    }

    #aboutUs {
        font-size: 100%;
        margin-bottom: 3vh;
        text-align: left;
    }

    #aboutUsBreak {
        display: block;
    }

    .backToPeople {
        font-size: 80%;
    }

    .depTitle {
        font-size: 110%;
    }

    .peopleThree {
        height: 0vh;
    }

    #peopleThree1 {
        padding-top: 17vh;
        height: 40vh;
    }

    #peopleThree2 {
        padding-top: 3vh;
        height: 26vh;
    }

    #peopleThree3 {
        padding-top: 3vh;
        height: 26vh;
    }

    .peopleAsThree {
        width: 100%;
    }

    .peopleAsOne {
        animation: phoneExpand 3s forwards;
    }

    @keyframes phoneExpand {
        from {
            height: 26vh;
            padding: 35vh 15% 0;
        }
        to {
            height: 95vh;
            padding: 35vh 8% 0;
        }
    }

    .peopleAsNone {
        animation: phoneShrink 3s forwards;
    }

    @keyframes phoneShrink {
        from {
            height: 26vh;
        }
        to {
            height: 0vh;
            display: none;
        }        
    }

    .clusterPic {
        width: 12vw;
    }

    .cluster0 {
        transform: translate(16vw, 20%) rotate(-20deg);
    }

    .cluster1 {
        transform: translate(12vw);
    }

    .cluster2 {
        transform: translate(9.5vw, 20%) rotate(20deg);
    }

    .cluster3 {
        transform: translate(-16vw, 83%) rotate(10deg);
    }

    .cluster4 {
        transform: translate(-18.75vw, 83%) rotate(-20deg);
    }

    .open0 {
        animation: phoneOpen0 3s forwards;
    }

    @keyframes phoneOpen0 {
        from {
            position: relative;
            transform: translate(16vw, 20%) rotate(-20deg);
            z-index: 500;
        }
        to {
            margin: 0 8px 10px 0;
            display: initial;        
        }
    }

    .open1 {
        animation: phoneOpen1 3s forwards;
    }

    @keyframes phoneOpen1 {
        from {
            position: relative;
            transform: translate(12vw);
            z-index: 501;        
        }
        to {
            margin: 0 8px 10px 0;
            display: initial;
        }
    }

    .open2 {
        animation: phoneOpen2 3s forwards;
    }

    @keyframes phoneOpen2 {
        from {
            position: relative;
            transform: translate(9.5vw, 20%) rotate(20deg);
            z-index: 502;
        }
        to {
            margin: 0 8px 10px 0;
            display: initial;
        }
    }

    .open3 {
        animation: phoneOpen3 3s forwards;
    }
    
    @keyframes phoneOpen3 {
        from {
            position: relative;
            transform: translate(-16vw, 83%) rotate(10deg);
            z-index: 503;
        }
        to {
            margin: 0 8px 10px 0;
            display: initial;
        }
    }

    .open4 {
        animation: phoneOpen4 3s forwards;
    }

    @keyframes phoneOpen4 {
        from {
            position: relative;
            transform: translate(-18.75vw, 83%) rotate(-20deg);
            z-index: 504;
        }
        to {
            margin: 0 8px 10px 0;
            display: initial;
        }
    }

}

@media (max-width: 576px) { 
    

}