#peopleBackground {
    padding-bottom: 50vh;
}

#peopleWrapper {
    padding: 3vh 15vw;
}

#peopleTop {
    padding: 5vh 15vw 15vh;
    text-align: center;
}

#aboutUs {
    font-size: 175%;
    font-family: 'Codystar', cursive;
    font-weight: bold;
}

.peoplePic {
    width: 9vw;
    margin: 5px;
}

.peopleTitle {
    font-weight: bold;
    margin-bottom: 3px;
}

.peopleCred {
    font-style: italic;
    margin-bottom: 10px;
}


.inline {
    display: inline-block;
}

.peoplePicRound {
    width: 9vw;
    margin: 5px;
    border-radius: 50%;
}

.peopleExpand {
    width: 9vw;
    margin: 5px;
}


.nucleusTitle {
    font-size: 150%;
    margin-bottom: 5px;
}

.peopleLine {
    width: 100%;
    border-bottom: 1px solid #92d3c7;
    margin-bottom: 10px;
}


.clusterTwo {
    display: inline-block;
    width: 50%;
    height: 20vh;
    text-align: center;
}

.clusterOne {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.peopleLeft {
    width: 7vw;
}

.clusterPic {
    width: 6vw;
    border: 4px solid white;
    box-shadow: 2px 3px 4px grey;
}

.cluster0 {
    transform: translate(120px, 17px) rotate(340deg);
}

.cluster1 {
    transform: translate(90px);
}

.cluster2 {
    transform: translate(65px, 17px) rotate(20deg);
}

.cluster3 {
    transform: translate(-130px, 70px) rotate(10deg);

}

.cluster4 {
    transform: translate(-150px, 70px) rotate(340deg);
}

.straight0
.straight1
.straight2
.straight3
.straight4 {
    transform: none;
    display: block;
}