#triInvisible {
    display: none;
}

#triWrapper {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triImg {
    height: 80vh;
    box-shadow: 0 0 15px #bbbabc;
    position: absolute;
}

.tribackImg {
    height: 85vh;
    box-shadow: 0 0 15px #bbbabc;
    visibility: hidden;
}

#tri1-open {
    transform-origin: left;
    animation: tri1-open 2s forwards;
}

@keyframes tri1-open {
    to {
        transform: perspective(1000em) rotateY(-95deg);
    }
}

#tri1-close {
    transform-origin: left;
    transform: perspective(1000em) rotateY(-95deg);
    animation: tri1-close 2s forwards;
}

@keyframes tri1-close {
    to {
        transform: perspective(0) rotateY(0);
    }
}

#tri1-flatten {
    transform-origin: left;
    transform: perspective(1000em) rotateY(-95deg);
    animation: tri1-flatten 1s 2s forwards;
}

@keyframes tri1-flatten {
    from {
        transform: perspective(1000em) rotateY(-95deg);
    }
    to {
        transform: perspective(1000em) rotateY(-180deg);
    }
}

#tri1-fold {
    transform-origin: left;
    transform: perspective(1000em) rotateY(-180deg);
    animation: tri1-fold 2s 1s forwards;
}

@keyframes tri1-fold {
    to {
        transform: perspective(0) rotateY(0);
    }
}

#tri1-flip {
    animation: tri1-flip 2s linear forwards;
}

@keyframes tri1-flip {
    to {
        transform: perspective(1000em) rotateY(180deg);
    }
}

#tri1-flipback {
    transform: perspective(1000em) rotateY(180deg);
    animation: tri1-flipback 2s linear forwards;
}

@keyframes tri1-flipback {
    to {
        transform: perspective(1000em) rotateY(0);
    }
}

#tri1-halfOpen {
    transform-origin: left;
    transform: perspective(1000em) rotateY(-180deg);
    animation: tri1-open 2s .5s forwards;
}

#tri2-open {
    transform-origin: right;
    animation: tri2 3s forwards;
}

@keyframes tri2 {
    66.66% {
        transform: perspective(1000em) rotateY(95deg);
    }
    100% {
        transform: perspective(1000em) rotateY(180deg);
    }
}

#tri2-fold {
    transform-origin: right;
    transform: perspective(1000em) rotateY(180deg);
    animation: tri2-fold 2s .5s forwards;
}

@keyframes tri2-fold {
    to {
        transform: perspective(0) rotateY(0);
    }
}

#triCenter-full {
    position: absolute;
    animation: triCenter 2s forwards;
}

@keyframes triCenter {
    from {
        left: -69%;        
    }
    to {
        left: 0;
    }
}

.triback {
    position: relative;
}

#triButtonWrapper,
#triSocialWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 1.5vh;
    z-index: 997;
}

#triButtonWrapper {
    padding: 169% 0 0 23.5%;
}

#triLink {
    background-color: #1b2c3a;
    color: #f4f7fc;
    padding: .75vh;
    border-radius: 5px;
    border: 1px solid #1b2c3a;
    margin-right: 2em;
}

#triLink:hover {
    background-color: #f4f7fc00;
    color: #1b2c3a;
}

#triSocialWrapper {
    padding: 218% 0 0 37.25%;
}

#triSocial {
    color: #1b2c3a;
    border-radius: 50%;
    margin-right: 1em;
}

#triSocial:hover {
    color: #757579;
}

#triButtonVisible {
    z-index: 997;
    opacity: 0;
    animation: tri-button 1s 2s forwards;
}

@keyframes tri-button {
    from {
        scale: .5;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.triArrow {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 10vw;
}

#triLeftArrow {
    left: 0;
}

#triRightArrow {
    right: 0;
}