#flexNav {
    position: fixed;
    bottom: 0;
    left: 0;
    /* height: 12vh; */
    width: 100vw;
    padding: 1vh 10vw;
    box-shadow: -2px -3px 5px #757579;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row;
}

#flexImage {
    /* background-color: red; */
    flex: 1;
    text-align: center;
}

#flexLogo {
    height: 6vh;
}

#flexHamburger {
    background-color: transparent;
    border: none;
}

#flexWords {
    /* background-color: blue; */
    flex: 4;
    display: flex;
    flex-flow: column;
}

#flexQs {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-family: 'Codystar', cursive;
    height: 15vh;
    font-size: 95%;
    font-weight: bold;
    color: #757579;
    padding-left: 3vw;
    margin-bottom: 3vh;
}

#flexFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 80%;
    height: 4vh;
    padding-left: 7vw;
}

#flexPLLC {
    display: none;
}

#constStamp {
    width: 140px;
    float: left;
    position: fixed;
    top: 0;
    right: 30px;
    transform: rotate(25deg);
    z-index: 2000;
}