

/* .processWrapper {
    padding: 5vh 15vw;
}

#dbBanner {
    width: 70vw;
}

.alignDBPic {
    text-align: center;
}

#dbProcessPic,
#dbFourCs {
    background-color: #f4f7fc;
    box-shadow: 0 0 10px #757579;
    position: relative;
    z-index: 500;
}

#dbProcessPic {
    width: 95vw;
    margin: -7vh auto -13vh;
}

#dbFourCs {
    width: 90vw;
    margin: -12vh auto -13vh;
}
 */
