@media (min-width: 40em) {
    #dbProcessPic {
        width: 85vw;
    }

    #dbFourCs {
        width: 80vw;
    }

    .miniTrifold {
        height: 20vw;
    }
}

@media (min-width: 59em) {
    #dbFourCs {
        width: 70vw;
    }

    .miniTrifold {
        height: 15vw;
    }
}

@media (min-width: 65em) {
    #dbProcessPic {
        width: 75vw;
        margin-top: -7vh;
        margin-bottom: -16vh;
    }

    .miniTrifold {
        right: 3em;
    }
}

@media (min-width: 75em) {
    #dbProcessPic {
        width: 60vw;
    }

    #dbFourCs {
        width: 50vw;
    }
}