#clientPageBanner {
    width: 70vw;
    background-color: #757579;
    padding: .5em 1.5em 0;
    border-radius: 5px;
}

#clientPageWrapper {
    padding-bottom: 20vh;
}

.clientPageContentWrapper {
    padding: 0 5vw;
}

.clientPageSteptitle {
    padding: 5px 10px;
    border-radius: 5px;
}

.step {
    font-size: 120%;
    font-weight: bold;
}

#clientPageStep0 {
    margin-top: 5vh;
    background-color: #33313277;
    color: #f4f7fc;
}

#clientPageStep1 {
    background-color: #3331329a;
    color: #f4f7fc;
}

#clientPageStep2 {
    background-color: #333132b6;
    color: #f4f7fc;
}

#clientPageStep3 {
    background-color: #333132d5;
    color: #f4f7fc;
}

#clientPageStep4 {
    background-color: #333132;
    color: #f4f7fc;
}

.clientPageStepInfo {
    margin-bottom: 3vh;
}

.alignClientPagePic {
    text-align: center;
    margin: 10vh auto;
}

#clientPageProcessPic,
#clientPageFourCs,
.clientPageGraphic {
    background-color: #f4f7fc;
    box-shadow: 0 0 10px #757579;
    width: 95vw;
    margin: auto;
    padding: 4px;    
}

.clientPageServiceWrapper {
    margin-bottom: 3vh;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 3px 5px black;
    padding: 1vh;
}

.clientPageService {
    flex: 1;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1vw;
    font-size: 120%;
    margin-bottom: 1vh;
}

.clientPageOfferedService {
    flex: 3;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.clientPageOfferedOne {
    padding: 3px 5px;
    margin: .5em 0;
}

.clientPageOfferedTrue {
    padding: 3px 5px;
    background-color: #757579;
}

.clientPageOfferedFalse {
    padding: 3px 5px;
    box-shadow: inset 2px 3px 5px black;
}

#clientPageCurrent {
    display: flex;
    justify-content: flex-end;
}

#clientPageCurrentBox {
    height: 1em;
    width: 1em;
    margin-right: .5em;
    background-color: #757579;
}

.miniTrifold {
    position: fixed;
    top: 1.5em;
    right: 2em;
    height: 25vw;
    box-shadow: 0 0 5px #333132;
    transform: rotate(-10deg);
    z-index: 998;
}