#homepage {
    height: 92vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.homeHalf {
    width: 100%;
    display: flex;
    flex-flow: column;
}

#homeLogo {
    height: 60%;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh), 0 calc(100% - 5vh));
    animation: homeClipPath 4s ease-out .5s forwards;
}

@keyframes homeClipPath {
    from {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vh), 0 calc(100% - 5vh));
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vh));
    }
}

#homeLogoIcon {
    width: 10em;
    opacity: 0;
    animation: rotateLogo 4s ease-out .5s forwards;
}

@keyframes rotateLogo {
    0% {
        opacity: 0;
        transform: scale(.25) rotate(0deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg);
    }
}

#homeWords {
    height: 40%;
    padding: 0 10vw;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: wordAppearVert 4s .5s forwards;
}

@keyframes wordAppearVert {
    from {
        opacity: 0;
        transform: translateY(-20vh);
    }
    to {
        opacity: 1;
        transform: translateY(0vh);
    }
}

.homeTagline {
    font-size: 100%;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Codystar', cursive;
}

@media (min-width: 37.5em) {
    .homeTagline {
        font-size: 115%;
    }
}

@media (min-width: 62.5em) and (max-height: 75em), (min-width: 34em) and (max-height: 28em) {
    #homepage {
        flex-flow: row;
    }
    
    .homeHalf {
        height: 100%;
        width: 0;
    }
    
    #homeLogoIcon {
        width: 15em;
    }
    
    #homeLogo {
        height: 100%;
        width: 55%;
        clip-path: polygon(0 0, calc(100% - 5vw) 0, calc(100% - 5vw) 100%, 0 100%);
        animation: homeClipPathWide 4s ease-out .5s forwards;
    }
    
    @keyframes homeClipPathWide {
        from {
            clip-path: polygon(0 0, calc(100% - 5vw) 0, calc(100% - 5vw) 100%, 0 100%);
        }
        to {
            clip-path: polygon(0 0, 100% 0, calc(100% - 10vw) 100%, 0 100%);
        }
    }
    
    #homeWords {
        width: 40%;
        padding: 0;
        align-items: flex-start;
        justify-content: center;
        animation: wordAppear 4s .5s forwards;
    }
    
    @keyframes wordAppear {
        from {
            opacity: 0;
            transform: translateX(-20vw);
        }
        to {
            opacity: 1;
            transform: translateX(0vw);
        }
    }
}

@media (min-width: 62.5em) and (min-height: 75em) {
    #homeLogoIcon {
        width: 20em;
    }
    
    .homeTagline {
        font-size: 170%;
    }
}

@media (min-width: 34em) and (max-height: 28em) {
    #homeLogoIcon {
        width: 8em;
    }
    
    .homeTagline {
        margin-left: -5vw;
        font-size: 75%;
    }
}