#homepage {
    background-color: #f4f7fc;
    /* background-image: url(./thumbprint-intersection.png);
    background-repeat: no-repeat;
    background-position-x: -20vw;
    background-position-y: -55vh;
    background-size: 70%; */
}

.homeHalf {
    float: left;
    height: 95vh;
}

#homeLogo {
    background-color: #1b2c3a;
    padding: 23vh 0 0 14vw;
    width: 44%;
}

#homeLogoIcon {
    width: 20vw;
    opacity: 0;
    animation: rotateLogo 4s ease-out .5s forwards;
}

@keyframes rotateLogo {
    0% {
        opacity: 0;
        transform: scale(.25) rotate(0deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg);
    }
}

#homeSlant {
    position: absolute;
    top: 0;
    left: 35vw;
    background-color: #1b2c3a;
    width: 16.5vw;
    height: 95vh;
    animation: slantyX 4s ease-out .5s forwards;
}

@keyframes slantyX {
    100% {
        transform: skewX(-20deg);
    }
}

#homeWords {
    width: 56%;
    padding: 37vh 0 0 15vw;
    opacity: 0;
    animation: wordAppear 4s .5s forwards;
}

@keyframes wordAppear {
    from {
        opacity: 0;
        transform: translateX(-20vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.homeTagline {
    color: #1b2c3a;
    font-size: 180%;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Codystar', cursive;
}

/* .taglineBackground{
    padding: 30vh 0 0 50vw;
}

.taglineThesis {
    color: #1b2c3a;
    font-size: 180%;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Codystar', cursive;
} */

@media (max-width: 1200px) {
    /* #homepage {
        background-position-x: -20vw;
        background-position-y: -40vh;
        background-size: 75%;
    }

    .taglineBackground{
        padding-left: 55vw;
    }
    
    .taglineThesis {
        font-size: 145%;
    } */
}

@media (max-width: 992px) {
    /* #homepage {
        background-position-x: -25vw;
        background-position-y: -25vh;
        background-size: 80%;
    }

    .taglineBackground{
        padding-left: 50vw;
    }

    .taglineThesis {
        font-size: 120%;
    } */
}

@media (max-width: 768px) {
    .homeHalf {
        height: 35vh;
    }

    #homeLogo {
        width: 100%;
        padding: 10vh 0 0 0;
        text-align: center;
    }

    #homeLogoIcon {
        width: 35vw;
    }

    #homeSlant {
        width: 100%;
        top: 28vh;
        left: 0;
        height: 14vh;
        /* background-color: red; */
        animation: slantyY 4s ease-out .5s forwards;
    }
    
    @keyframes slantyY {
        100% {
            transform: skewY(15deg);
        }
    }

    #homeWords {
        width: 100%;
        padding: 22vh 0 0 10vw;
        animation: wordAppearVert 4s .5s forwards;
    }

    @keyframes wordAppearVert {
        from {
            opacity: 0;
            transform: translateY(-20vh);
        }
        to {
            opacity: 1;
            transform: translateY(0vh);
        }
    }
    
    .homeTagline {
        font-size: 100%;
    }
    
    /* #homepage {
        background-position-x: -50vw;
        background-position-y: -5vh;
        background-size: 140%;
    }

    .taglineBackground{
        padding: 13vh 0 0 10vw;
    }

   .taglineThesis {
       font-size: 150%;
   } */
}

@media (max-width: 576px) { 
    /* #homepage {
        background-position-x: -50vw;
        background-position-y: 15vh;
        background-size: 160%;
    }

    .taglineBackground{
        padding-top: 15vh;
        padding-left: 5vw;
    }

   .taglineThesis {
       font-size: 140%;
   } */

}