#homePic {
    background-image: url(./painted-desert.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#homeTitle {
    color: #f4f7fc;
}

#homeThesis {
    font-size: 110%;
    color: #f4f7fc;
    line-height: 1.25;
}

.thesisColor {
    color: #f4d5bb;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) {
    #homeTitle {
        margin-bottom: 20px;
    }
    #homeThesis {
        margin-bottom: 50%;
    }
    
    #mobileHide {
        display: none;
    }

    #dspEco {
        color: #f3dfcf;

    }

    #unDelivery {
        color: #f0e4da;

    }

    #highQuality {
        color: #f0e4da;

    }
}

@media (max-width: 576px) { 

}