#homepage {
    background-color: #f4f7fc;
}

.homeHalf {
    float: left;
    height: 95vh;
}

#homeLogo {
    background-color: #1b2c3a;
    padding: 23vh 0 0 14vw;
    width: 44%;
}

#homeLogoIcon {
    width: 20vw;
    opacity: 0;
    animation: rotateLogo 4s ease-out .5s forwards;
}

@keyframes rotateLogo {
    0% {
        opacity: 0;
        transform: scale(.25) rotate(0deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg);
    }
}

#homeSlant {
    position: absolute;
    top: 0;
    left: 32vw;
    background-color: #1b2c3a;
    width: 23vw;
    height: 95vh;
    animation: slantyX 4s ease-out .5s forwards;
}

@keyframes slantyX {
    100% {
        transform: skewX(-20deg);
    }
}

#homeWords {
    width: 56%;
    padding: 37vh 0 0 15vw;
    opacity: 0;
    animation: wordAppear 4s .5s forwards;
}

@keyframes wordAppear {
    from {
        opacity: 0;
        transform: translateX(-20vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.homeTagline {
    color: #1b2c3a;
    font-size: 165%;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Codystar', cursive;
}

@media (max-width: 1200px) {
    #homeLogo {
        width: 42%;
        padding: 34vh 0 0 15vw;
    }

    #homeSlant {
        left: 27vw;
        width: 28vw;
    }

    #homeWords {
        width: 58%;
        padding: 42vh 0 0 16vw;
    }

    .homeTagline {
        font-size: 135%;
    }
}

@media (max-width: 992px) {
    #homeLogo {
        width: 40%;
        padding: 30vh 0 0 13vw;
    }

    #homeLogoIcon {
        width: 24vw;
    }

    #homeSlant {
        left: 25vw;
        width: 28vw;
    }

    #homeWords {
        width: 60%;
        padding: 40vh 0 0 18vw;
    }

    .homeTagline {
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    .homeHalf {
        height: 38vh;
    }
    
    #homeLogo {
        width: 100%;
        padding: 10vh 0 0 0;
        text-align: center;
    }
    
    #homeLogoIcon {
        width: 25vw;
    }
    
    #homeSlant {
        width: 100%;
        top: 27.5vh;
        left: 0;
        height: 22vh;
        animation: slantyY 4s ease-out .5s forwards;
    }
    
    @keyframes slantyY {
        100% {
            transform: skewY(10deg);
        }
    }
    
    #homeWords {
        width: 100%;
        padding: 22vh 0 0 26vw;
        animation: wordAppearVert 4s .5s forwards;
    }
    
    @keyframes wordAppearVert {
        from {
            opacity: 0;
            transform: translateY(-20vh);
        }
        to {
            opacity: 1;
            transform: translateY(0vh);
        }
    }
    
    .homeTagline {
        font-size: 110%;
    }
}

@media (max-width: 576px) { 
    .homeHalf {
        height: 35vh;
    }
    
    #homeLogoIcon {
        width: 35vw;
    }
    
    #homeSlant {
        top: 23vh;
        height: 24vh;
        animation: slantyY 4s ease-out .5s forwards;
    }
    
    @keyframes slantyY {
        100% {
            transform: skewY(15deg);
        }
    }
    
    #homeWords {
        padding: 24vh 0 0 12vw;
    }
    
    .homeTagline {
        font-size: 100%;
    }
    
}