.navClear {
    padding-top: 200px;
}

.contentBackground {
    padding-left: 17.5%;
}

.half {
    width: 35%;
    text-align: center;
    float: left;
    margin-left: 5%
}

.bigQ {
    font-weight: bold;
    font-size: 200%;
    padding: 7% 0;
    color: #404051;
    /* text-shadow: 1px 2px 5px grey; */
    border-right: 1px solid #757579;
}

.answer {
    padding: 4%;
    color: #757579;
}