#dbBannerWrapper {
    padding: 2vh;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
}

#dbBannerTitle {
    position: relative;
    margin-bottom: -2vh;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 2px;
}

#dbBannerDB {
    padding: 0 30px;
}

#dashedBorder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px dashed #f4f7fc;
    border-radius: 5px;
    padding: 3vh;
    font-size: 150%;
    height: 25vh;
}

#ccLogo {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 90%;
}

#dbLogoWrapper,
#dbBannerLogo {
    height: 10vh;
    opacity: .8;
    margin-bottom: 5px;
}

.ccText {
    font-size: 70%;
    letter-spacing: 2px;
}

#yourBuild {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 60%;
    font-size: 140%;
    opacity: .8;
}

#ipd {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 80%;
}

#IPD {
    font-size: 220%;
    font-style: italic;
    font-weight: bold;
}

.integProjDel {
    font-size: 70%;
    letter-spacing: 2px;
}