#servicesPic {
    background-image: url(./mountain-scape.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftServices:hover {
    color: #757579;
}

.rightServices:hover {
    color: #333132;
}

.designThesis {
    font-size: 125%;
    color: #f4f7fc;
    font-weight: bold;
    padding: 4px;
}

#designThesis {
    background-color: #757579;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) { 
    #designThesis {
        margin-left: 0;
    }
}

@media (max-width: 576px) { 

}