#servicesPic {
    background-image: url(./mountain-scape.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftServices:hover {
    color: #757579;
}

.rightServices:hover {
    color: #333132;
}

.designThesis {
    font-size: 125%;
    color: #f4f7fc;
    font-weight: bold;
    padding: 4px 10px 5px;
}

#designThesis {
    border: 2px dotted #757579;
    color: #757579;
    
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) { 
    #designThesis {
        margin-left: 0;
    }
}

@media (max-width: 576px) { 

}


.slantBackground {
    padding-bottom: 30vh;
}

.slantTop {
    height: 30vh;
    padding-top: 10vh;
    padding-left: 30vw;
    background-color: #1b2c3a;
    font-size: 250%;
    color: #f4f7fc;
}

#darkBlue {
    background-color: #1b2c3a;
    margin-bottom: 3vh;
    height: 12vh;
    transform: translateY(-6vh);
    animation: slantDarkBlue 2s ease-out .5s forwards;
}

@keyframes slantDarkBlue {
    to {
        transform: translateY(-6vh) skewY(3deg);
    }
}

.slantTitle {
    height: 10vh;
    padding-left: 30vw;
    font-size: 175%;
}

.darkSlantTitle {
    color: #333132;    
}

.whiteSlantTitle {
    color: #f4f7fc; 
}

.slantInfoWrapper {
    padding: 0 15vw 0 33vw;
}

.slantInfoColumn {
    display: inline-block;
    width: 33%;
    font-size: 150%;
    margin: 1.5vh 0;
}

.centeredPopup {
    display: inline-block;
}

.darkSlantInfoTrigger {
    color: #757579;
}

.darkSlantInfoTrigger:hover {
    color: #333132;
}

.darkSlantInfo {
    color: #757579;
}

.whiteSlantInfoTrigger {
    color: #faf7ee;
}

.whiteSlantInfoTrigger:hover{
    color: #f4d5bb;
}

.popupWords {
    font-size: 60%;
    line-height: 1.5;
    color: #1b2c3a;
}

.slantUp {
    margin: 15vh 0;
    padding: 10vh 0;
    animation: slantUp 2s ease-out .5s forwards;
}

@keyframes slantUp {
    to {
        transform: skewY(-3deg);
    }
}

.unSkew {
    animation: unSkewUp 2s ease-out .5s forwards;
}

@keyframes unSkewUp {
    to {
        transform: skewY(3deg);
    }
}

.slantDown {
    margin: 15vh 0;
    padding: 10vh 0;
    animation: slantDown 2s ease-out .5s forwards;
}

@keyframes slantDown {
    to {
        transform: skewY(3deg);
    }
}

.unSkewDown {
    animation: unSkewDown 2s ease-out .5s forwards;
}

@keyframes unSkewDown {
    to {
        transform: skewY(-3deg);
    }
}

#pink {
    background-color: #d37c7c;
}

#green {
    background-color: #1b2c3a;
}