.dsBackground {
    padding-bottom: 20vh;
}

.slantInfoColumn {
    display: inline-block;
    width: 33%;
    font-size: 150%;
    margin: 1.5vh 0;
}

.centeredPopup {
    display: inline-block;
}

.darkSlantInfoTrigger {
    color: #757579;
}

.darkSlantInfoTrigger:hover,
.darkSlantInfoTrigger:focus {
    color: #333132;
}

.whiteSlantInfoTrigger {
    color: #faf7ee;
}

.whiteSlantInfoTrigger:hover,
.whiteSlantInfoTrigger:focus {
    color: #f4d5bb;
}

.popupWords {
    font-size: 60%;
    line-height: 1.5;
}

@media (max-width: 1200px) { 
    .slantInfoColumn {
        width: 50%;
    }    
}

@media (max-width: 992px) { 
    .slantInfoColumn {
        width: 100%;
    }
}

@media (max-width: 815px) and (max-height: 400px) {
    
}

@media (max-width: 768px) { 
    .slantInfoColumn {
        width: 100%;
        font-size: 110%;
    }
}

@media (max-width: 576px) { 

}