.center {
    margin: 0 25%;
}

#contact {
    width: 100%;
    min-height: 200vh;
    padding-top: 0;
    padding-left: 0;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) { 
    .center {
        margin: 0;
    }
}

@media (max-width: 576px) { 

}