.yourTwo {
    float: left;
    width: 50%;
}

#brand {
    background-image: url(./your-brand-connected.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#career {
    background-image: url(./your-career-amplified.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) {
    .yourTwo {
        width: 100%;
    }
}

@media (max-width: 576px) { 

}