#joinUsTopPic {
    background-color: #e2e1e3e1;
    border: none;
    border-radius: 5px;
}

#joinUsTopPic {
    content: "";
    clear: both;
    display: table;
}

#joinUsTitle {
    color: #1b2c3a;
    text-align: center;
}

.joinUsInfo {
    font-size: 110%;
    color: #1b2c3a;
    line-height: 1.25;
    margin-bottom: 15px;
    width: 20%;
    float: left;
    margin: 0 .5%;
}

.rightArrow {
    float: left;
    width: 3%;
    padding-top: 2%;
    font-size: 250%;
    color: #1b2c3a;
}

.colon {
    float: left;
    width: 3%;
    padding-top: 1.5%;
    font-size: 250%;
    color: #1b2c3a;
}

#numOne {
    margin-left: 20px;
}

.newLine {
    display: block;
}

.yourWrapper {
    clear: both;
}

.yourTwo {
    float: left;
    width: 50%;
}

#brand {
    background-image: url(./your-brand-connected.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#career {
    background-image: url(./your-career-amplified.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popup-content {
    border: none;
    padding: none;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) {
    .joinUsInfo {
        width: 100%;
    }

    #joinUsTitle {
        padding: 5% 0;
    }

    .rightArrow {
        transform: translateX(16px) rotate(90deg)
    }

    .yourTwo {
        width: 100%;
    }

    #oneEcosystem {
        display: block;
    }

    #joinUsTopPic {
        padding-bottom: 5%;
    }

}

@media (max-width: 576px) { 

}