@media (min-width: 31em) {
    #navSlantGrow,
    #navSlantShrink {
        width: 40vw;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    }

    #approach {
        left: 73vw;
    }
    
    #about {
        left: 71vw;
    }
    
    #clients {
        left: 69vw;
    }
    
    #services {
        left: 67vw;
    }
    
    #ecosystem {
        left: 65vw;
    }

    #navFooter {
        left: 63vw;
    }
}

@media (min-width: 34em) and (max-height: 34em) {
    #navLogo {
        height: 9vh;
    }
}

@media (min-width: 63.25em) {
    .navHidden,
    .navHide,
    .navShow {
        visibility: visible;
        animation: none;
    }
    
    #navSlant,
    #navSlantGrow,
    #navSlantShrink,
    #navHamburger {
        display: none;
        animation: none;
    }
    
    .navQs,
    #navFooter {
        position: initial;
    }
    
    .navQsShow,
    #footerJoinShow,
    .navQsHide,
    #footerJoinHide {
        opacity: 1;
        animation: none;
    }

    #navPLLC {
        display: initial;
    }

    #nav {
        padding: 1vh 20vw;
    }
    
    #navImage {
        flex: 1;
    }
    
    #navCenter {
        flex: 4;
        height: 5vh;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    
    #navWords {
        display: flex;
        justify-content: space-around;
        font-size: 120%;
    }

    .navQs,
    .navQs:active,
    .navQs:visited,
    .navQs:focus {
        color: #757579;
    }

    .navQs:hover {
        color: #333132;
    }

    #emailAddress,
    #footerJoin,
    #footerJoinShow,
    #footerJoinHide,
    #navPLLC {
        color: #a9a9af;
    }

    #emailAddress:hover,
    #footerJoin:hover,
    #emailIcon:hover,
    #footerJoinShow:hover,
    #footerJoinHide:hover {
        color: #757579;
    }

    #navFooterWords {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 75em) {
    #navLogo {
        height: 7vh;
    }

    #navFooterWords {
        font-size: 110%;
    }
}

@media (min-width: 81em) {
    #nav {
        padding: 1vh 24vw;
    }
}

@media (min-width: 96em) {
    #nav {
        padding: 1vh 27vw;
    }
}

@media (min-width: 114em) {
    #nav {
        padding: 1vh 30vw;
    }

    #navFooterWords {
        font-size: 115%;
    }
}