#nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 1vh 8vw;
    box-shadow: 0 -1px 5px #757579;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

#navImage {
    text-align: center;
}

#navLogo {
    height: 6vh;
}

#navCenter {
    flex: 0;
}

.navHidden {
    visibility: hidden;    
}

.navHide {
    animation: navHide 1s forwards;
}

@keyframes navHide {
    to {
        visibility: hidden;
    }
}

.navShow {
    visibility: visible;
}

#navSlantGrow,
#navSlantShrink {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55vw;
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 0 100%);
}

#navSlantGrow {
    animation: navSlantGrow 1s forwards;
}

@keyframes navSlantGrow {
    from {
        height: 0;
    }
    to {
        height: 10em;
    }
}

#navSlantShrink {
    animation: navSlantShrink 1s forwards;
}

@keyframes navSlantShrink {
    from {
        height: 10em;
    }
    to {
        height: 0;
    }

}

.navQs {
    position: absolute;
    font-family: 'Codystar', cursive;
    font-size: 80%;
    font-weight: 900;
}

.navQs,
.navQs:active,
.navQs:visited,
.navQs:focus {
    color: #f4f7fc;
}

.navQsShow,
#footerJoinShow {
    opacity: 0;
    animation: navQsShow 1s .5s forwards;
}

@keyframes navQsShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navQsHide,
#footerJoinHide {
    animation: navQsHide 0.2s forwards;
}

@keyframes navQsHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#approach {
    bottom: 10.5em;
    left: 72vw;
}

#about {
    bottom: 8.5em;
    left: 68vw;
}

#clients {
    bottom: 6.5em;
    left: 64vw;
}

#services {
    bottom: 4.5em;
    left: 60vw;
}

#ecosystem {
    bottom: 2.5em;
    left: 56vw;
}

#navFooter {
    position: absolute;
    bottom: .5em;
    left: 52vw;
    font-size: 70%;
}

#navFooter a {
    margin-right: 2vw;
}

#emailAddress,
#footerJoin,
#footerJoinShow,
#footerJoinHide,
#navPLLC {
    color: #f4f7fc;
}

#navPLLC {
    display: none;
}

#navHamburger {
    position: relative;
    height: 1em;
    width: 1.5em;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.hamLine {
    width: 100%;
    height: 1.5px;
}

#hamX1 {
    background-color: #f4f7fc;
    animation: hamX1 .5s forwards;
}

@keyframes hamX1 {
    to {
        transform: translateY(475%) rotate(45deg);
    }
}

#ham-1 {
    animation: ham-1 .5s forwards;
}

@keyframes ham-1 {
    from {
        transform: translateY(475%) rotate(45deg);
    }
    to {
        transform: none;
    }
}

#hamLineInvisible {
    display: none;
}

#ham-2 {
    animation: navQsShow .5s forwards;
}

#hamX3 {
    background-color: #f4f7fc;
    animation: hamX3 .5s forwards;
}

@keyframes hamX3 {
    to {
        transform: translateY(-475%) rotate(-45deg);
    }
}

#ham-3 {
    animation: ham-3 .5s forwards;
}

@keyframes ham-3 {
    from {
        transform: translateY(-475%) rotate(-45deg);
    }
    to {
        transform: none;
    }
}

#constStamp {
    width: 70px;
    position: fixed;
    top: 1%;
    right: 0px;
    transform: rotate(25deg);
    z-index: 2000;
}

.link,
.link:active,
.link:visited,
.link:focus,
.link:hover {
    text-decoration: none;
}