@media (min-width: 40em) {
    #triCenter-full {
        position: initial;
        animation: none;
    }
}

@media (min-width: 46em) {
    .triArrow {
        padding: 0 10vw;
    }
}

@media (min-width: 62.5em) {
    .triArrow {
        padding: 0 15vw;
    }
}

@media (min-width: 78em) {
    .triArrow {
        padding: 0 20vw;
    }
}

@media (min-width: 106em) {
    .triArrow {
        padding: 0 25vw;
    }
}