#wherePic {
    background-image: url(./rural-barn.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#whereThesis {
    font-size: 200%;
    color: #333132;
    width: 100%;
    float: left;
    padding-left: 16%;
    padding-bottom: 5%;
    font-weight: bold;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) { 
    #whereThesis {
        font-size: 135%;
        padding-left: 0;
        margin-bottom: 30px;
        margin-left: -3%;
        text-align: center;
    }      
}

@media (max-width: 576px) { 

}