body {
    font-family: 'Corbel', sans-serif;
}

#background {
    padding-bottom: 120px;
    width: 100%;
    background-image: url(./greyzz.png);
    background-color: rgb(236, 236, 236);    
}

#background::after {
    content: "";
    display: block;
    clear: both;
}

@media (max-width: 768px) {

}