.clientBackground {
    display: flex;
    flex-flow: row wrap;
}

.loadedImageBackground {
    background-color: #b0c46b;
}

#clientImgLoadCheck {
    display: none;
}

#largeCompany {
    flex: 100vw;
    background-image: url(../images/your-staff-augmented.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.salmon {
    background-color: #a35f5fcc;
}

#boutiqueCompany {
    flex: 100vw;
    background-image: url(../images/your-brand-elevated.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-5vh);
    clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 100%);
}

.skyblue {
    background-color: #6a889ec5;
}

#design-buildCompany {
    flex: 100vw;
    background-image: url(../images/your-project-crafted.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-10vh);
    clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
}

.greenyellow {
    background-color: #849b66ce;
}

