@media (min-width: 75em) {
    .clientBackground {
        background-color: transparent;
    }

    #design-buildCompany {
        flex: 1;
    }

    #largeCompany {
        flex: 1;
        transform: translateY(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    #boutiqueCompany {
        flex: 1;
        transform: translateY(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}