.slantTitle {
    height: 5vh;
    padding-left: 20vw;
    font-size: 140%;
}

.slantInfoWrapper {
    padding: 0 10vw 0 26vw;
}

.slantUp {
    margin: 15vh 0;
    padding: 10vh 0;
    width: 100%;
    animation: slantUp 2s ease-out .5s forwards;
}

@keyframes slantUp {
    to {
        transform: skewY(-9deg);
    }
}

.unSkew {
    animation: unSkewUp 2s ease-out .5s forwards;
}

@keyframes unSkewUp {
    to {
        transform: skewY(9deg);
    }
}

.slantDown {
    margin: 15vh 0;
    padding: 10vh 0;
    width: 100%;
    animation: slantDown 2s ease-out .5s forwards;
}

@keyframes slantDown {
    to {
        transform: skewY(9deg);
    }
}

.unSkewDown {
    animation: unSkewDown 2s ease-out .5s forwards;
}

@keyframes unSkewDown {
    to {
        transform: skewY(-9deg);
    }
}

@media (min-width: 43em) {
    .slantUp {
        margin: 10vh 0;
        animation: largeSlantUp 2s ease-out .5s forwards;
    }

    @keyframes largeSlantUp {
        to {
            transform: skewY(-3deg);
        }
    }

    .unSkew {
        animation: largeUnSkewUp 2s ease-out .5s forwards;
    }

    @keyframes largeUnSkewUp {
        to {
            transform: skewY(3deg);
        }
    }

    .slantDown {
        margin: 10vh 0;
        animation: largeSlantDown 2s ease-out .5s forwards;
    }

    @keyframes largeSlantDown {
        to {
            transform: skewY(3deg);
        }
    }

    .unSkewDown {
        animation: largeUnSkewDown 2s ease-out .5s forwards;
    }

    @keyframes largeUnSkewDown {
        to {
            transform: skewY(-3deg);
        }
    }
}

@media (min-width: 50em) { 
    .slantTitle {
        height: 6vh;
        padding-left: 25.5vw;
        font-size: 160%;
    }
    
    .slantInfoWrapper {
        padding: 0 15vw 0 30vw;
    }

}