.topPic {
    padding: 15% 20%;
}

.wordsBox {
    padding: 20px 20px 130px;
}

.topQ {
    font-size: 200%;
    color: #333132;
    text-align: left;
    margin-bottom: 3%;
}

.thesis {
    font-size: 125%;
    color: #404051;
    text-align: left;
    line-height: 1.5;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) { 
    .topPic {
        padding: 15% 2%;
    }

    .wordsBox {
        /* background-color: rgba(255, 255, 255, 0.596); */
        padding: 15px 15px;
        border-radius: 10px;
        margin-bottom: 80px;
    }

    .topQ {
        font-size: 110%;
    }

    .thesis {
        font-size: 90%;
        line-height: 1;
    }
}


@media (max-width: 576px) { 
    
}