#digitalThesis {
    background-color: #182939;
}

#digitalWrapper {
    padding: 8% 15%;
}

.digitalTitle {
    font-size: 250%;
    color: #333132;
    font-weight: bold;
    margin-bottom: 40px;
}

.digitalWords {
    margin: 5% 0;
    font-size: 115%;
    line-height: 1.5;
}

.row {
    width: 100%;
    margin: 15px 0;
}

.column {
    width: 28%;
    float: left;
}

.BIMHead {
    font-weight: bold;
    font-size: 120%;
}

.BIMword {
    font-size: 105%;
}

.two {
    margin-left: -25px;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) {
    #digitalWrapper {
        padding: 14% 5% 0;
    }

    .digitalWords {
        margin: 10% 0;
    }

    .row {
        border-bottom: 0.5px solid #757579;
    }
    
    .column {
        width: 45%;
        margin-bottom: 3%;
    }

    .two {
        margin-left: 7%;
    }
}


@media (max-width: 576px) { 
    
}