.clientBackground {
    display: flex;
    flex-flow: row wrap;
    background-color: #b0c46b;
}

#largeCompany {
    flex: 100vw;
    background-image: url(./your-staff-augmented.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.salmon {
    background-color: #a35f5fcc;
}

#boutiqueCompany {
    flex: 100vw;
    background-image: url(./your-brand-elevated.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-5vh);
    clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 100%);
}

.skyblue {
    background-color: #6a889ec5;
}

#design-buildCompany {
    flex: 100vw;
    background-image: url(./your-project-crafted.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-10vh);
    clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
}

.greenyellow {
    background-color: #849b66ce;
}

@media (min-width: 75em) {
    .clientBackground {
        background-color: transparent;
    }

    #largeCompany {
        flex: 1;
    }

    #boutiqueCompany {
        flex: 1;
        transform: translateY(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    #design-buildCompany {
        flex: 1;
        transform: translateY(0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}