.yourThree {
    float: left;
    width: 33.33%;
}

#largeCompany {
    background-image: url(./your-staff-augmented-altered-orange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#design-buildCompany {
    background-image: url(./your-project-crafted-altered-green.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#boutiqueCompany {
    background-image: url(./your-brand-elevated.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1200px) { 
    
}

@media (max-width: 992px) { 
       
}

@media (max-width: 768px) {
    .yourThree {
        width: 100%;
    }
}

@media (max-width: 576px) { 

}