#yourCommStory {
    background-image: url(https://anopenbookbyaneta.files.wordpress.com/2017/01/cropped-book-1738609_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}