#approachParagraph {
    margin-bottom: 15px;
    font-size: 120%;
    line-height: 1.2;
}

.infoWords {
    font-size: 120%;
    line-height: 1.5;
}

.bold {
    font-weight: bold;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #757579;
}

@media (max-width: 1200px) { 
    .infoWords {        
        margin-bottom: 3vh;
    }
    
}

@media (max-width: 992px) { 
}

@media (max-width: 768px) {
    #approachParagraph {
        font-size: 100%;
    }

    .infoWords {
        font-size: 100%;
        line-height: 1.2;
    }

    
}

@media (max-width: 576px) { 

}